@model List<User>
<div class="container">
    <div class="row pt-3 pb-4">
        <h1>Kullanıcılar</h1>
    </div>
    <table class="table table-bordered">
        <thead>
            <tr>
                <th>
                    İsim
                </th>
                <th>
                    Soyisim
                </th>
                <th>
                   E-Posta
                </th>
                <th>
                   Telefon No
                </th>
                <th>
                    Adres
                </th>
                <th>
                </th>
                <th>
                </th>
            </tr>
        </thead>
        <tbody>
            @foreach (var user in Model)
            {
                <tr>
                    <td>
                        @user.User_Name
                    </td>
                    <td>
                        @user.User_Surname
                    </td>
                    <td>
                        @user.User_Email
                    </td>
                    <td>
                        @user.User_Phone
                    </td>
                    <td>
                        @user.User_Adress
                    </td>

                    <td><a asp-controller="User" asp-route-id="@user.Id" asp-action="Delete" class="btn btn-danger">Sil</a></td>
                    <td><a asp-controller="User" asp-route-id="@user.Id" asp-action="AddUpdate" class="btn btn-success">Güncelle</a></td>
                </tr>
            }
        </tbody>
    </table>
    <div class="row pt-3 pb-2">
        <div>
            <a asp-controller="User" asp-action="AddUpdate" class="btn btn-warning" type="button">
                Yeni Kullanıcı Ekle
            </a>
        </div>
    </div>
</div>
