@model List<Car>
@if (Model != null)
{
    <div class="row row-cols-1 row-cols-md-4 g-3">
        @foreach (var car in Model)
        {
            <div class="col">
                <div class="card border-danger mb-3">
                    <img src="@car.CarImgUrl" class="card-img-top car-image" alt="@car.Car_Name" />
                    <div class="card-body">
                        <div class="col-md-12 d-flex justify-content-between">
                            <h4 class="card-text">@car.Car_Name</h4>
                            <h4 class="card-text">@car.Car_Price TL</h4>
                        </div>
                        <div class="col-md-12 d-flex justify-content-between">
                            <p class="card-text">@car.Car_Km KM</p>
                            <p class="card-text">@car.Car_About</p>
                        </div>
                        <center><a asp-controller="Rent" asp-route-carId="@car.Id" asp-action="UserRent" class="btn btn-danger">Kirala</a></center>
                    </div>
                </div>
            </div>
        }
    </div>
}
else
{
    <div class="alert alert-warning" role="alert">
        No cars available.
    </div>
}
