@model Car

<div class="card mb-12" style="max-width: 100%;">
    <div class="row g-0">
        <div class="col-md-8">
            <img src="@Model.CarImgUrl" class="img-fluid rounded-start" alt="@Model.Car_Name">
        </div>
        <div class="col-md-4">
            <div class="card-body">
                <ul>
                    <li><h5 class="card-title">@Model.Car_Name</h5></li>
                    <li><p class="card-text"><small class="text-body-secondary">Car Brand @Model.Car_Price</small></p></li>
                    <li><h5 class="card-text">@Model.Car_Km</h5></li>
                    <li><p class="card-text">@Model.Car_About</p></li>
                </ul>
            </div>
        </div>
    </div>
</div>
