@model IEnumerable<NewLife.Models.Rent>

@{
    ViewData["Title"] = "Admin Araç Kiralama";
}

<h2>Admin Araç Kiralama</h2>

<table class="table">
    <thead>
        <tr>
            <th>
                Araç Adı
            </th>
            <th>
                Kullanıcı Adı
            </th>
            <th>
               Kiralama Tarihi
            </th>
            <th>
               Teslim Tarihi
            </th>
            <th>
               Ücret
            </th>
            <th></th>
            <th></th>

        </tr>
    </thead>
    <tbody>
        @foreach (var rent in Model)
        {
            <tr>
                <td>
                    @rent.Car.Car_Name
                </td>
                <td>
                    @rent.User.User_Name @rent.User.User_Surname
                </td>
                <td>
                    @rent.Rent_Time.ToString("dd/MM/yyyy")
                </td>
                <td>
                    @rent.Back_Time.ToString("dd/MM/yyyy")
                </td>
                <td>
                    @rent.Rent_Price
                </td>

                <td>
                    <a asp-action="Rent" asp-route-id="@rent.Id" class="btn btn-primary">Güncelle</a>
                </td>
                <td>
                    <a asp-action="Delete" asp-route-id="@rent.Id" class="btn btn-danger">Sil</a>

                </td>
            </tr>
        }
        

    </tbody>

</table>

    <div>
        <a asp-action="Rent" class="btn btn-primary">Yeni Ekle</a>
    </div>

