@model IEnumerable<NewLife.Models.Rent>

@{
    ViewBag.Title = "Rent Listesi";
}

<h2>@ViewBag.Title</h2>

<p>
    <a asp-action="AddUpdate" class="btn btn-primary">Yeni Kayıt Ekle</a>
</p>

<table class="table">
    <thead>
        <tr>
            <th>Id</th>
            <th>Rent Time</th>
            <th>Back Time</th>
            <th>Car</th>
            <th>User</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var rent in Model)
        {
            <tr>
                <td>@rent.Id</td>
                <td>@rent.Rent_Time</td>
                <td>@rent.Back_Time</td>
                <td>@rent.Car?.Car_Name</td>
                <td>@rent.User?.User_Name</td>
                <td>
                    <a asp-action="AddUpdate" asp-route-id="@rent.Id" class="btn btn-primary">Düzenle</a>
                </td>
            </tr>
        }
    </tbody>
</table>
