@model IEnumerable<NewLife.Models.Rent>

@{
    ViewData["Title"] = "Rent Index";
}

<h2>Rent Table Index</h2>

<table class="table">
    <thead>
        <tr>
            <th>
                Car Name
            </th>
            <th>
                User Name
            </th>
            <th>
                Rent Date
            </th>
            <th>
                Return Date
            </th>
            <th>
               Rent Price
            </th>
            <th></th>
            <th></th>

        </tr>
    </thead>
    <tbody>
        @foreach (var rent in Model)
        {
            <tr>
                <td>
                    @rent.Car.Car_Name
                </td>
                <td>
                    @rent.User.User_Name @rent.User.User_Surname
                </td>
                <td>
                    @rent.Rent_Time.ToString("dd/MM/yyyy")
                </td>
                <td>
                    @rent.Back_Time.ToString("dd/MM/yyyy")
                </td>
                <td>
                    @rent.Rent_Price
                </td>

                <td>
                    <a asp-action="Rent" asp-route-id="@rent.Id" class="btn btn-primary">Edit</a>
                </td>
                <td>
                    <a asp-action="Delete" asp-route-id="@rent.Id" class="btn btn-danger">Delete</a>

                </td>
            </tr>
        }
        <a asp-action="Rent" class="btn btn-primary">Add New</a>

    </tbody>
</table>
